#tl_0_navTable{
	border-bottom: 1px solid #E5E5E5;
	padding: 1px 4px 8px 2px;
	}
html{
	overflow:hidden;
	}
.tablib_selected {
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
	background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
	border:1px solid #CCC !important;
	color:#333;
	}
.tablib_unselected, .tablib_navContainer {
	background-image:-webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image:-moz-linear-gradient(top, #f5f5f5, #f1f1f1);
	color:#444;
	border: 1px solid #CCC !important;
	border-bottom-color:#686868;
	}
.tablib_selected,.tablib_unselected {
	border-left: 0 solid #fff !important;
	height:27px;
	}
.tablib_emptytab {
	border-bottom:0 solid #fff !important;
	border-color:#686868;
	}
#tl_0_header tbody:first-child tr:first-child td:nth-child(2){
	border-left: 1px solid #CCC !important;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	}
#tl_0_header tbody:first-child tr:first-child td:nth-child(10){
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	}
.label {
	border:0;
	display:inline-block;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	line-height:38px;
	margin-left:8px;
	outline:0;
	vertical-align:baseline;
	padding:0;
	}
.dir_ltr {
	direction:ltr;
	}
.dir_rtl {
	direction:rtl;
	text-align:right;
	}
.newsmsg {
	text-align:center;
	padding:150px 0;
	}
a {
	color:#000 !important;
	}
.button_panel {
	margin:15px 0 10px 5px;
	}
#btn_add_query {
	font-size:11px;
	width:70px;
	height:27px;
	margin-top:-1px;
	}
.check_label {
	padding-left:3px;
	display:inline-block;
	}
.editpanel {
	color:#222;
	font-family:arial;
	font-size:13px;
	width:280px;
	}
.editpanel_default {
	width:250px;
	padding-left:0;
	}
span.delbox {
	float:left;
	height:12px;
	overflow:hidden;
	width:12px;
	margin:2px;
	}
span.delbox:hover {
	background-position:-60px -12px;
	cursor:pointer;
	}
.show_image {
	display:inline-block;
	padding-top:5px;
	}
.c {
	clear:both;
	}
.tablib_main_container {
	overflow:hidden;
	font-family:arial,sans-serif;
	margin-top: 7px;
	}
.tablib_table {
	text-align:left;
	line-height:.9;
	}
.tablist {
	padding-left:0;
	}
.tab_section {
	position:relative;
	white-space:nowrap;
	overflow:hidden;
	padding-top: 1px;
	}
.tab_handle {
	position:absolute;
	left:3px;
	border:0 solid green;
	background-color:#0086b3;
	width:3px;
	height:1.2em;
	}
.tab_content {
	color:#444;
	font-size:11px;
	line-height:1.3;
	margin-right:4px;
	overflow:hidden;
	padding-left:9px;
	vertical-align:top;
	white-space:nowrap;
	font-weight: bold;
	}
.tab_section_h .tab_handle {
	background-color:#6b90da;
	}
.tab_section_b .tab_handle {
	background-color:#007300;
	}
.tab_section_e .tab_handle {
	background-color:#8a60b3;
	}
.tab_section_s .tab_handle {
	background-color:#f60;
	}
.tab_section_t .tab_handle {
	background-color:#c00;
	}
.tab_section_y .tab_handle {
	background-color:#f93;
	}
.tab_section_w .tab_handle {
	background-color:#ffc300;
	}
.tab_section_i .tab_handle {
	background-color:#696969;
	}
.tab_section_m .tab_handle,.tab_section_es .tab_handle {
	background-color:#438988;
	}
.tab_section_se .tab_handle,.tab_section_af .tab_handle {
	background-color:#9ac1ba;
	}
.tab_section_ir .tab_handle {
	background-color:#00a65e;
	}
.tab_section_po .tab_handle {
	background-color:#bc1748;
	}
.tab_section_ss .tab_handle {
	background-color:#27559b;
	}
.tabnews {
	position:relative;
	overflow: auto;
	height: 100%;
	padding-left: 4px;
	
	background: -webkit-linear-gradient(white 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, -webkit-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), transparent), -webkit-radial-gradient(50% 100%,farthest-side, rgba(0, 0, 0, .2), transparent) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 20px, 100% 20px, 100% 7px, 100% 7px;
	background-attachment: local, local, scroll, scroll;
	}
.tn-article {
	margin-top:4px;
	width: 100%;
	}
.tn-headline {
	line-height:1.2;
	margin-top:6px;
	}
.tn-headline a,.tn-headline a:hover,.tn-related a,.tn-related a:hover {
	color:#15c;
	cursor:pointer;
	font-family:arial;
	}
.tn-line {
	border-top:1px solid #d1d3d4;
	clear:both;
	font-size:1px;
	height:1px;
	margin-top:5px;
	padding:0;
	}
.tn-articles {
	clear:both;
	list-style:none;
	line-height:1.3;
	margin:0;
	padding:0;
	}
.tn-articles li {
	padding:2px 0;
	}
.tn-articles li a {
	color:#15c;
	cursor:pointer;
	font-family:arial;
	}
.tn-articles li a:hover {
	color:#15c;
	cursor:pointer;
	font-family:arial;
	}
.tn-time {
	white-space:nowrap;
	}
.tn-time,.tn-source {
	color:#d37f1c;
	font-size:11px;
	font-family:arial;
	}
.tn-pic {
	line-height:1.2;
	vertical-align:top;
	padding:2px 6px 0 0;
	}
.tn-article td {
	font-size:78%;
	}
.dir_rtl .tn-pic {
	float:right;
	padding:2px 0 0 8px;
	}
.tn-pic .tn-source {
	font-size:11px;
	}
.newsimg {
	border:1px solid #aaa;
	margin:2px 0;
	}
.tn-pic a {
	border-width:1px;
	}
.tn-detail {
	color:#222;
	font-size:13px;
	font-family:arial;
	line-height:130%;
	overflow:hidden;
	}
.tn-snippet {
	color:#9e9c9c;
	font-family:arial;
	height:3.8em;
	overflow:hidden;
	z-index:-1;
	font-style: italic;
	}
.tn-related {
	background-color #fff;
	height: 1.25em;
	position: relative;
	color: transparent;
	}
.tn-more-link {
	padding-bottom:6px;
	}
.tn-image-link {
	color:#999;
	cursor:pointer;
	font-size:11px;
	}
.tn-more {
	clear:both;
	color:#222;
	font-family:arial;
	font-size:13px;
	margin-top:3px;
	width:100%;
	}
.dir_rtl .tn-more, .dir_ltr {
	text-align:left;
	}
.editpanel {
	margin-left:5px;
	}
.G-FO {
	border:1px solid #c5d7ef;
	background-color:#fff;
	box-shadow:2px 2px 2px #777;
	position:absolute;
	z-index:100;
	}
.G-HO {
	cursor:pointer;
	}
.edition-style,.font-style,.img-style,.item-style {
	background-color:#eee;
	border:1px solid #ccc;
	color:#000;
	cursor:pointer;
	font-family:arial,sans-serif;
	font-size:11px;
	font-weight:700;
	}
.edition-style {
	width:65%;
	}
.img-style {
	width:160px;
	}
.font-style {
	min-width:0;
	width:55px;
	}
.item-style {
	min-width:0;
	width:35px;
	}
.edition-scroll,.items-scroll,.image-scroll,.font-scroll {
	background-color:#fff;
	clear:both;
	z-index:200;
	}
.edition-scroll {
	height:310px;
	position:absolute;
	}
.items-scroll {
	height:0;
	width:53px;
	}
.image-scroll {
	height:0;
	width:179px;
	}
.font-scroll {
	height:60px;
	width:72px;
	position:absolute!important;
	}
.td_default_edition {
	padding-bottom: 0;
	z-index: 200;
	}
.td_default_edition {
	padding-top: 0;
	}
#td_style {
	max-width: 250px;
	overflow: hidden;
	}
.td_font {
	overflow: visible !important;
	}
.tablib_spacerTab,.menu-option .scrollBarInner::-webkit-scrollbar-button:start:increment,.menu-option .scrollBarInner::-webkit-scrollbar-button:end:decrement {
	display: none;
	}
.lang_ja a,.tn-headline a,.tn-related a, .tn-articles li a, .tn-more-link, .tn-image-link {
	text-decoration: none;
	}
a:hover,.tn-headline a:hover,.tn-related a:hover,.tn-more-link:hover,.tn-more a:hover, .tn-articles li a:hover {
	text-decoration: underline;
	}
.tab_section_p .tab_handle,.tab_section_n .tab_handle,.tab_section_awkl .tab_handle,.tab_section_kl .tab_handle,.tab_section_iekl .tab_handle,.tab_section_ap .tab_handle,.tab_section_ieap .tab_handle,.tab_section_ed .tab_handle,.tab_section_ed .tab_handle {
	background-color: #3c3ca4;
	}
.tn-headline a:visited,.tn-articles li a:visited,.tn-related a:visited {
	color: #000 !important;
	cursor: pointer;
	font-family: arial;
	}
/*
#tl_0_1 {
	position: fixed;
	top: 0px;
	height: 100%;
	padding-top: 44px;
	}
*/

.tablib_content_container {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-top: 44px;
	box-sizing: border-box;
	-webkit-user-select: text;
	}
#tl_0_navTable {
	z-index: 8;
	position: relative;
	}
#tl_0 {
	-webkit-user-select: none;
	}
.tablib_unselected:hover .tab_content, .tablib_selected .tab_content, .tablib_unselected:active .tab_content  {
	color: black;
	}
.tablib_unselected:active {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
	outline: none;
	}
.tablib_unselected:hover {
	background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
	}
::-webkit-scrollbar {
	height: 16px;
	width: 12px;
	}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
	}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
	display: block;
	}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
	display: none;
	}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
	border-style: solid;
	border-color: transparent;
	}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	background-clip: padding-box;
	background-color: rgba(0,0,0,.2);
	min-height: 28px;
	padding-top: 100px;
	}
::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
	background-color: rgba(0,0,0,.4);
	}
::-webkit-scrollbar-thumb:active {
	-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
	background-color: rgba(0,0,0,.5);
	}
::-webkit-scrollbar-thumb:vertical {
	border-width: 0;
	border-left-width: 0px;
	}
::-webkit-scrollbar-thumb:horizontal {
	border-width: 0;
	border-top-width: 5px;
	}
::-webkit-scrollbar-track:vertical {
	border-left-width: 1px;
	border-right-width: 1px;
	}
::-webkit-scrollbar-track:horizontal {
	border-bottom: 1px;
	border-top: 6px;
	}
::-webkit-scrollbar-thumb:vertical {
	border-width: 0;
	border-left-width: 1px;
	border-right-width: 1px;
	}
::-webkit-scrollbar-thumb:horizontal {
	border-width: 0;
	border-bottom: 1px;
	border-top: 6px;
	}
::-webkit-scrollbar-track:hover {
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
	background-color: rgba(0,0,0,.05);
	}
::-webkit-scrollbar-track:active {
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
	background-color: rgba(0,0,0,.05);
	}