::-webkit-scrollbar {
	height: 16px;
	width: 12px;
	}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
	}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
	display: block;
	}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
	display: none;
	}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
	border-style: solid;
	border-color: transparent;
	}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	background-clip: padding-box;
	background-color: rgba(0,0,0,.2);
	min-height: 28px;
	padding-top: 100px;
	}
::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
	background-color: rgba(0,0,0,.4);
	}
::-webkit-scrollbar-thumb:active {
	-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
	background-color: rgba(0,0,0,.5);
	}
::-webkit-scrollbar-thumb:vertical {
	border-width: 0;
	border-left-width: 0px;
	}
::-webkit-scrollbar-thumb:horizontal {
	border-width: 0;
	border-top-width: 5px;
	}
::-webkit-scrollbar-track:vertical {
	border-left-width: 1px;
	border-right-width: 1px;
	}
::-webkit-scrollbar-track:horizontal {
	border-bottom: 1px;
	border-top: 6px;
	}
::-webkit-scrollbar-thumb:vertical {
	border-width: 0;
	border-left-width: 1px;
	border-right-width: 1px;
	}
::-webkit-scrollbar-thumb:horizontal {
	border-width: 0;
	border-bottom: 1px;
	border-top: 6px;
	}
::-webkit-scrollbar-track:hover {
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
	background-color: rgba(0,0,0,.05);
	}
::-webkit-scrollbar-track:active {
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
	background-color: rgba(0,0,0,.05);
	}
html, body {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	user-select: none;
	}
#resultsContainer {
	height: 100%;
	padding-top: 88px;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	top: 0;
	}
#results {
	-webkit-user-select: all;
	user-select: all;
	overflow-y: auto;
	height: 100%;
	box-sizing: border-box;
	padding: 12;
	overflow-x: hidden;
	margin: 0;
	background: -webkit-linear-gradient(white 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, -webkit-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), transparent), -webkit-radial-gradient(50% 100%,farthest-side, rgba(0, 0, 0, .2), transparent) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 20px, 100% 20px, 100% 7px, 100% 7px;
	background-attachment: local, local, scroll, scroll;
	}

#toolbar {
	height: 44px;
	display: inline-block;
	border-bottom: 1px solid #E5E5E5;
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 2;
	overflow-y: hidden;
	box-sizing: border-box;
	}
.searchbox {
	float:left;
	-webkit-user-select: none;
	-moz-user-select: none;
	width:100%;
	border-style:none;
	border-bottom:1px solid #e5e5e5;
	background-color: #fbfbfb;
    line-height: 44px;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8;
	position: relative;
	z-index: 1;
	}
.searchbox input[type=text]  {
	background: url("images/sprite-25.png") repeat-y right -25px white;
	border: 1px solid #d9d9d9;
	border-top: 1px solid silver;
	color: #222;
	display: inline-block;
	border-radius: 1px;
	height: 27px;
	line-height: 25px;
	outline: none;
	padding-left: 4px;
	vertical-align: top;
	width: 100%;
	font:13px arial,sans-serif;
	}
#toolbar li {
	float: left;
	text-align: center;
	width: 25%;
	font-size: small;
	font-family: arial,sans-serif;
	color: #777;
	height: 100%;
	padding-top: 12px;
	box-sizing: border-box;
	line-height: 1.3;
	}
#toolbar li:not([data-state="active"]) {
	cursor: pointer;
	}
#toolbar li:hover:not([data-state="active"]) {
	color: #222;
	}
#toolbar li:active:not([data-state="active"]) {
	color: #DD4B39;
	}
#toolbar li[data-state="active"] {
	color: #DD4B39 !important;
	font-weight: bold;
	}
#toolbar li[data-state="active"] span {
	height: 100%;
	display: inline-block;
	border-bottom: 3px solid #DD4B39;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
	}
#moreLinks {
	display: none;
	-webkit-box-shadow: 0 2px 4px #D6D6D6;
	background: #FFF;
	border: 1px solid #D6D6D6;
	box-shadow: 0 2px 4px #D6D6D6;
	padding: 5px 0 5px 0;
	position: fixed;
	top: 80px;
	right: 5px;
	list-style: none;
	z-index: 3;
	}
#moreLinks[data-state="on"] {
	display: block;
	}
#moreLinks li {
	float: none;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	text-align: left;
	line-height: 5px;
	height: 29px;
	}
#moreLinks li:hover {
	background-color: #F1F1F1;
	}
#moreLinksGhostContainer {
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 2;
	}
#moreLinksGhostContainer[data-state="on"] {
	display: block;
	}
#loadIndicator {
	background-image: url("https://www.gstatic.com/ui/v1/activityindicator/loading_16.gif");
	background-position: center;
	height: 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin-top: -88px;
	}/*
.images_table td {
	display: block !important;
	}
	*/
	
#results[data-type="books"] .th {
	background-image: url(http://www.google.com/images/icons/product/directory-64.png);
	background-repeat: no-repeat;
	width: 64px !important;
	float: left;
	background-position: -2px;
	border: none !important;
	}
	
/* share button */
#results[data-type="web"] .pplsrsl {
	display: none;
	}
/* link underline */
a:link {
	text-decoration: none;
	}
a:link:hover {
	text-decoration: underline;
	}
	
body {
	overflow: hidden !important;
	}
	/*
body {
	background: transparent !important;
	}
.searchBox {
padding-left: 16px;
padding-right: 16px;
background-color: transparent;
border-color: transparent;
}
.searchBox input {
background: url("images/sprite-25.png") repeat-y right -25px rgba(255, 255, 255, .9) !important;
}
#toolbar {
position: relative;
top: 44px;
background-color: #FFF;
}
#resultsContainer {
padding-top: 132px;
}